<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965031342334-npfc9hkv473ilpq85f8ncfod9te7uj50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965031342334-npfc9hkv473ilpq85f8ncfod9te7uj50</string>
	<key>API_KEY</key>
	<string>AIzaSyCMWSGRx07VvGKHaCFvbrreA-WLeD30eqg</string>
	<key>GCM_SENDER_ID</key>
	<string>965031342334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soadu.fablabapp</string>
	<key>PROJECT_ID</key>
	<string>fablabapp-8897</string>
	<key>STORAGE_BUCKET</key>
	<string>fablabapp-8897.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965031342334:ios:4ebf37cbc4ddbb17d6b5af</string>
</dict>
</plist>